.logo {
  position: absolute;
  width: 150px;
  height: 151.61px;
  left: 16px;
  top: 0px;
}

.nav ul {
  margin: 20px;
  padding: 20px;
  list-style:none;
}

.nav a {
  padding: 1em;
  display: block;
  text-align:center;
  text-decoration: none;
}

.nav .menu {
  display: flex;
  flex-direction : row; 
  justify-content: space-evenly;
  
}

.nav-link {
  font-family:'exo';
  font-size: 20px;
  color: #2C2821;
 
}

a.active {
  text-decoration: underline;
  text-decoration-color:#2C2821; 
  font-family: 'exo';
  font-size: 20px;
}
body {
  background-color: #FFF4EB ;
}

.active {
  color: #2C2821; 
}
h1 {
  position: absolute;
  width: 601px;
  height: 223px;
  left: 300px;
  top: 214px;
  
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 96px;
  text-align: center;
  
  color: #60643B;
}

.logoxl {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 941px;
  top: 191px;
}

.title1 {
position: absolute;
width: 555px;
height: 59px;
left: 105px;
top: 550px;

font-family: 'Exo';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 53px;

color: #2C2821;
}

.conteneur{
position: absolute;
width: 1212px;
height: 463px;
left: 91px;
top: 620px;

background: rgba(96, 100, 59, 0.5);
border-radius: 30px;
}

.text1{
  position: absolute;
  width: 1001px;
  height: 393px;
  left: 192px;
  top: 670px;
  
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  
  color: #2C2821;
}

.title2{
position: absolute;
width: 555px;
height: 59px;
left: 105px;
top: 1230px;

font-family: 'Exo';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 53px;

color: #2C2821;
}

.conteneur1{
  position: absolute;
  width: 1222px;
  height: 208px;
  left: 86px;
  top: 1297px;
  
  background: rgba(96, 100, 59, 0.5);
  border-radius: 30px;
}

.text2{
position: absolute;
width: 1026px;
height: 163px;
left: 192px;
top: 1319px;

font-family: 'Courgette';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #2C2821;

}

.footer { /* rendre le footer responsive  */
  position: absolute;
  width: 1515px;
  height: 178px;
  left: 0px;
  top: 1900px;
  
  background: #A3B80E;
  
  }
  
  .text5{
    position: absolute;
    width: 351px;
    height: 103px;
    left: 30px;
    top: 1923px;
    
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    
    color: #2C2821;  
  }
