body {
background-color: #FFF4EB;
font-size: 16px;
}

.navbar{

  background-color: #FFF4EB;
}

.nav-item {
  font-family:'exo';
  font-size: 20px;
  color: #2C2821;
}

h1{
  font-size: 200%;
  font-family: 'Exo'; 
  color: #60643B;

}

.description {

  font-family: 'Exo';
  font-weight: auto;
  line-height: auto;
  color: #2C2821;
}

.article {
  
  width: auto;
  height: auto;
  background: rgba(96, 100, 59, 0.5);
  border-radius: 30px;

}

h2 {
font-size: 200%;
font-family: 'Exo'; 
color:#60643B;
}


.img-fluid {
max-width: 100%;
height: 50%;
border-radius: 30px;


}

p {
  margin: 10px;
  padding-left: 15%;
  font-family: 'Courgette';
  font-style: normal;
  font-weight: auto;
  line-height: 40px;
  color: #2C2821;
}

h3{

  font-size: 130%;
  font-family: 'Courgette'; 
  color: #2C2821;
}


.h3{

  
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  
  color: #2C2821;
}

.contact {

  width: auto;
  height: 178px;
  left: 0px;
  margin-top: 100px;
  
  background: #A3B80E;
  border-radius: 30px;
  color: #2C2821;
}

h4  {
width: 351px;
height: 103px;
left: 30px;
top: 1923px;
text-decoration: none;
font-family: 'Courgette';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #2C2821;
}

footer a {
  color: #2C2821;
  text-decoration: none;
  
}
footer a:hover {
  color: #60643B;

}