.logo {
  position: absolute;
  width: 150px;
  height: 151.61px;
  left: 16px;
  top: 0px;
}

.nav ul {
  margin: 20px;
  padding: 20px;
  list-style:none;
}

.nav a {
  padding: 1em;
  display: block;
  text-align:center;
  text-decoration: none;
}

.nav .menu {
  display: flex;
  flex-direction : row; 
  justify-content: space-evenly;
  
}

.nav-link {
  font-family:'exo';
  font-size: 20px;
  color: #2C2821;
 
}

a.active {
  text-decoration: underline;
  text-decoration-color:#2C2821; 
  font-family: 'exo';
  font-size: 20px;
}
body {
  background-color: #FFF4EB ;
}

.active {
  color: #2C2821; 
}
h1 {
  position: absolute;
  width: 601px;
  height: 223px;
  left: 300px;
  top: 214px;
  
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 96px;
  text-align: center;
  
  color: #60643B;
}

.logoxl {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 941px;
  top: 191px;
}